@model IEnumerable<DataLayer.ProductGroup>
<article>
    <ul class="category-menu">
        <li>
            @foreach (var Groups in Model.Where(G => G.ParentId == null))
            {
                <h2><a href="">@Groups.GroupTitle</a></h2>

                <ul class="child-category-menu">
                    @foreach (var SubGroup in Model.Where(G => G.ParentId == Groups.GroupId))
                    {
                        <li><h2><a href=""> @SubGroup.GroupTitle </a> <span>(10)</span></h2></li>
                    }
                </ul>
            }
        </li>
    </ul>
</article>