@{
    ViewData["Title"] = "ای شاپ";
}
@section Slider
{
    <partial name="Slider" />
}

@section Last24Products {
    @await Component.InvokeAsync("Last24ProductsComponent")
}

@section CompareList {
    <section class="border-radius compare-side" id="CompareList">
    </section>
}
@section Basket {
    <section class="border-radius basket-side">
        <header><h3> سبد خرید شما  </h3></header>
        <article>
            <ul>
                <li>
                    <img class="border-radius" src="/img/1.jpg">
                    <div class="left-basket">
                        <a href="">محصول شماره یک <span class="border-radius"> 2 </span></a>
                    </div>
                </li>
                <li>
                    <img class="border-radius" src="/img/1.jpg">
                    <div class="left-basket">
                        <a href="">محصول شماره یک <span class="border-radius"> 2 </span></a>
                    </div>
                </li>
                <li>
                    <img class="border-radius" src="/img/1.jpg">
                    <div class="left-basket">
                        <a href="">محصول شماره یک <span class="border-radius"> 2 </span></a>
                    </div>
                </li>
            </ul>
            <a href="" class="show-basket-button border-radius">مشاهده سبد خرید</a>
        </article>
    </section>
}

@section Groups {
    <section class="border-radius category-side">
        <header><h3> دسته بندی ها </h3></header>
        <!-- ProductGroups -->
        @await Component.InvokeAsync("ProductGroupsComponent")
        <!-- End ProductGroups -->
    </section>
}


@section Scripts {
    <script src="/js/Compare.js"></script>
}