@{
    ViewData["Title"] = "ای شاپ";
}
@section Slider
{
    @await Component.InvokeAsync("SliderComponent");
}

@section Last24Products {
    <div id="Main-Con">
        @await Component.InvokeAsync("Last24ProductsComponent")
    </div>
}

@section CompareList {
    <div id="CompareList">
    </div>
}
@section Basket {
    <section class="border-radius basket-side" id="basket">
    </section>
}

@section Groups {
    <section class="border-radius category-side">
        <header><h3> دسته بندی ها </h3></header>
        <!-- ProductGroups -->
        @await Component.InvokeAsync("ProductGroupsComponent")
        <!-- End ProductGroups -->
    </section>
}


@section Scripts {
    <script src="/js/Compare.js"></script>
}