@{
    ViewData["Title"] = "ای شاپ";
}
@section Slider
{
    @await Component.InvokeAsync("SliderComponent");
}

@section Last24Products {
    @await Component.InvokeAsync("Last24ProductsComponent")
}

@section CompareList {
    <section class="border-radius compare-side" id="CompareList">
    </section>
}
@section Basket {
    <section class="border-radius basket-side">
        <header><h3> سبد خرید شما  </h3></header>
        <article id="basket">
            
        </article>
    </section>
}

@section Groups {
    <section class="border-radius category-side">
        <header><h3> دسته بندی ها </h3></header>
        <!-- ProductGroups -->
        @await Component.InvokeAsync("ProductGroupsComponent")
        <!-- End ProductGroups -->
    </section>
}


@section Scripts {
    <script src="/js/Compare.js"></script>
}