<div class="col-md-12 col-xs-12 col-sm-12 col-xl-12">
    <div class="alert alert-warning text-center">
        <p>
            کاربر گرامی برای افزودن محصول به سبد خرید وارد حساب خودتان شوید.
        </p>
    </div>
</div>