@model Core.DTOs.RegisterViewModel
@{
    ViewData["Title"] = "موفقیت آمیز";
}
<div class="col-md-12">
    <div class="alert alert-success shadow-lg text-center">
        کاربر گرامی ایمیل فعالسازی به ایمیل شما :  @Model.Email ارسال شد.
    </div>
</div>