@model string
@{
    ViewData["Title"] = "موفقیت آمیز";
}
<div class="col-md-12">
    <div class="alert alert-success shadow-lg text-center">
        <p> کاربر گرامی ایمیل بازیابی رمز عبور به ایمیل شما :  '@Model' ارسال شد. </p>
    </div>
</div>